body{
    font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #c4c3ca;
	background-color: #1f2029;
	overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    /* color: unset; */
}
.warning {

    color: #c4c3ca;
    background: #000;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
}

.warning span {
    display: block;
    margin-top: 100px;
}
